Source: multitouch
Section: admin
Priority: optional
Maintainer: Chase Douglas <chase.douglas@ubuntu.com>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 5), cdbs
Vcs-Git: git://kernel.ubuntu.com/cndougla/multitouch.git

Package: multitouch-kernel-source
Architecture: all
Depends: ${misc:Depends}, dkms, linux-libc-dev, libc6-dev, linux-headers-generic
Conflicts: magicmouse-kernel-source
Description: Experimental multitouch device driver source
 This package contains multitouch related fixes and new drivers for the Apple
 Magic Mouse, and Egalax and Cando touchscreens
